* {
  margin: 0;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
